// FONT FACES
@font-face {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/Helvetica/Helvetica.ttf);
}

@font-face {
    font-family: "Palatino";
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/Palatino/Palatino.ttf);
}

@font-face {
    font-family: "Optima"; 
    font-style: normal;
    font-weight: normal;
    src: url(./fonts/Optima/Optima.ttf);
}


// BOOTSTRAP CUSTOM VARIABLES
$primary: #8e1537;
$font-family-sans-serif: "Palatino", system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$border-radius: 8px;


// ADDITIONAL CLASSES
.title{
    font-family: "Optima";
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    width: 30%;
}

.logo.mini {
    width: 50px;
}

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

